.Progression {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 85%;
  margin: auto;
}

.Chord {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 20px;
  background: linear-gradient(315deg, #24282E, #1A1E23);
  box-shadow: -20px -20px 30px #24282E,
             20px 20px 30px #1A1E23;
}

.Chord:active {
  background: linear-gradient(250deg, #24282E, #1A1E23);
  box-shadow: -10px -10px 20px #24282E,
             10px 10px 20px #1A1E23;
}

.chord-name {
  font-size: 2rem;
  margin: 0.2em;
}

.note-label {
  margin: 0;
}

.chord-notes {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.single-note {
  margin: 5% 0;
}

@media screen and (max-width: 600px){
  .chord-name {
    font-size: 1.5rem;
  }

  .note-label {
    display: none !important;
  }
  
  .chord-notes {
    display: none !important;
  }
}