h1 {
  margin: 0 0 5px 0;
}

.hidden {
  display: none !important;
}

.spicy {
  margin-left: 2%;
  padding: 2px;
  background-color: #e4e4e439;
}

.spicy:hover {
  background-color: #e4e4e4;
}

.title {
  font-family: 'Amatic SC', cursive, sans-serif;
  font-size: 5vw;
  grid-area: 1 / 1 / 2 / 2 ;
  text-align: center;
}

.Header {
  background-color: #2C323A;
  height: 15vw;
  display: grid;
  grid-template-columns: 30% 70%;
  font-size: 1.25rem;
}

.navigation {
  grid-area: 1 / 2 / 2 / 3 ;
  height: 80%;
  width: 95%;
  margin: auto;
}

.site-nav {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 50%;
  height: 50%;
}

.NavBar {
  background-color: #24282E;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChordNav {
  width: 20%;
  margin: 0 2%;
}

.ChordNav p {
  margin-right: 2%;
}

.seventh {
  display: flex;
  align-items: center;
}

.seventh input, .qual-container input {
  position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
}

.seventh label, .qual-container label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.seventh label:hover, .qual-container label:hover {
	cursor: pointer;
}

.seventh input:checked + label, 
.qual-container input:checked + label{
	background-color: #8B92A0;
	box-shadow: none;
}

.seventh label:first-of-type,
.qual-container label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.seventh label:last-of-type,
.qual-container label:last-of-type{
	border-radius: 0 4px 4px 0;
}

.key-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.qual-container {
  align-items: center;
  display: flex;
  margin: 0 2%;
  justify-content: left;
}

#key {
  margin: 0 2% 0 0.5%;
  background-color: #2C323A;
  color: #8B92A0;
  border: 2px solid #8B92A0;
  font-size: 1.25rem;
}

input {
  margin: 0 0.5% 0 2%;
}

button {
  border-radius: 4px;
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 3px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

@media screen and (max-width: 600px){
  .Header {
    height: 30vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20% 80%;
  }
  .title {
    grid-area: 1 / 1 / 2 / 2 ;
    font-size: 5vh;
  }
  .navigation {
    grid-area: 2 / 1 / 2 / 3 ;
    width: 100%;
  }
  #key {
    margin: 0 2% 0 0.5%;
    background-color: #8B92A0;
    color: #2C323A;
    border: 2px solid #8B92A0;
  }
  .NavBar {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .new-song-button {
    grid-area: 2 / 1 / 3 / 3;
    height: 100%;
  }

  .ChordNav {
    grid-area: 3 / 2 / 3 / 3;
    margin-left: 5%;
    text-align: center;
  }

  .spicy {
    width: 20%;
  }

  .seventh p {
   margin: 0;
  }

  .key-container, .qual-container{
    text-align: center;
  }
}