.Saved {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.SavedSong {
  margin: 15px;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 20px;
  background: linear-gradient(315deg, #24282E, #1A1E23);
  box-shadow: -20px -20px 30px #24282E,
             20px 20px 30px #1A1E23;
}

.preview-chords {
  display: flex;
  justify-content: space-around;
}

.showsong-button {
  margin: 5px;
}

@media screen and (max-width: 600px){
  .Saved {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .SavedSong {
    justify-content: center;
    height: 150px;
  }

  .preview-title {
    height: 3rem;
    overflow: scroll;
  }
  
  .preview-chords {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .SavedSong p {
    margin: 0;
  }
  
  .showsong-button {
    margin-top: auto;
  }

}