.Lyrics {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 50px;
  background: linear-gradient(315deg, #24282E, #1A1E23);
  box-shadow: -20px -20px 30px #24282E,
             20px 20px 30px #1A1E23;
  margin: 3% 5% 5% 5%;
}

.UserLyrics input {
  margin: auto;
  width: 40%;
}

.UserLyrics textarea {
  margin: auto;
  width: 45%;
}

.UserLyrics button{
  margin: auto;
  width: 20%;
}

.lyrics-display {
  margin: 3%;
  display: flex;
  flex-direction: column;
}

.lyrics-display p {
  margin: 0;
}

.poetry-deets {
  margin: 2%;
}

.poetry-deets a {
  text-decoration: underline;
}

.save-song {
  margin-top: 20px;
  border-radius: 4px;
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 3px 16px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.save-song:active {
  transform: scale(0.98);
}

@media screen and (max-width: 600px) {
  .UserLyrics input {
    margin: auto;
    width: 80%;
  }
  
  .UserLyrics textarea {
    margin: auto;
    width: 90%;
  }
  
  .UserLyrics button{
    margin: auto;
    width: 20%;
  }
}