@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Hind:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Hind', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1A1E23;
}
